body {
  background-color: burlywood;
}
h1 {
  font-family: optima;
  text-transform: uppercase;
  color: rgb(1, 8, 14);
  position: relative;
  left: 400px;
  top: 50px;
}
img {
  position: relative;
  height: 300px;
  width: auto;
  left: 20rem;
  top: 80px;
  padding: 6rem;
}
nav {
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 425px;
}
nav > a {
  border-radius: 8px;
  background-color: black;
  font-style: normal;
  font-size: 15px;
  color: aliceblue;
  padding: 15px;
}
main {
  font-family: optima;
  background-color: ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: absolute;
}
a:link {
  text-decoration: none;
}
